body{
    background-size: cover;
    background-color:rgb(43, 122, 148) ;
    
}


#day,#time,#minut,#second{
    font-size: 160px;
    font-family: serif;
}

#day{
    color:red;
    
}
#time{
    color: blue;
}
#minut{
    color:green;
}
.tsag{
    background-color: #ccc;
    position:absolute;
    top: 30%;
    left: 28%;
    

}
.tsan{
    position:absolute;
    top: 10%;
    left: 18%;
    font-size: 30px;
    color: lightgoldenrodyellow;

}
@media (max-width:690px ){
    #day,#time,#minut,#second{
        font-size: 20px;
        font-family: serif;
    }
    .tsan{
        position:absolute;
        top: 20%;
        left: 13%;
        font-size: 20px;
        color: lightgoldenrodyellow;
        
    }
    .tsag{
        background-color: #ccc;
        position:absolute;
        top: 60%;
        left: 28%;
    }
    #day{
    color:red;
    font-size:50px;   
    
    }
    #time{
        color: blue;
        font-size:40px;   
    }
    #minut{
        color:green;
        font-size:35px;   
}
